In [2]:
import numpy as py 
import pandas as pd

In [3]:
df = pd.read_csv('lu7ah.csv')

In [4]:
df1 = pd.read_csv('mazad.csv')

In [5]:
df2 = pd.read_csv('mazad1.csv')

In [6]:
df.head()

,chakra-text 4,chakra-text 5,chakra-text 6,chakra-text 7,chakra-text 8,chakra-text 9,chakra-text 10,chakra-text 12,chakra-text 14,chakra-text 16,chakra-image src 3,chakra-button href
0,ر,هـ,م,R,H,Z,9777,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26472
1,ر,هـ,م,R,H,Z,9888,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26471
2,ر,هـ,م,R,H,Z,9666,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26459
3,ب,ل,ل,B,L,L,1116,الرياض,2025-03-13,على السوم,NaN,https://lu7ah.com/show-adds/23246
4,د,ص,م,D,X,Z,77,مكة,2025-03-13,23000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24633

In [7]:
df.shape

(2430, 12)

In [86]:
df.duplicated().sum()

0

In [87]:
df[df['chakra-text 16'] != 'على السوم']

,chakra-text 4,chakra-text 5,chakra-text 6,chakra-text 7,chakra-text 8,chakra-text 9,chakra-text 10,chakra-text 12,chakra-text 14,chakra-text 16,chakra-image src 3,chakra-button href
0,ر,هـ,م,R,H,Z,9777,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26472
1,ر,هـ,م,R,H,Z,9888,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26471
2,ر,هـ,م,R,H,Z,9666,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26459
4,د,ص,م,D,X,Z,77,مكة,2025-03-13,23000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24633
11,ق,ح,ط,G,J,T,980,الخبر,2025-03-13,24500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/19989
...,...,...,...,...,...,...,...,...,...,...,...,...
2410,أ,ل,م,A,L,Z,8288,الرياض,2024-11-01,5000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22710
2420,م,ك,ق,Z,K,G,802,بريدة,2024-10-31,15000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22687
2422,ق,ق,ق,G,G,G,16,الرياض,2024-10-30,300000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22680
2423,ر,ع,ب,R,E,B,2328,أخرى,2024-10-30,20000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22678
2427,هـ,ع,ل,H,E,L,20,جدة,2024-10-30,18500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22672

In [88]:
df.duplicated().sum()

0

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430 entries, 0 to 2429
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   chakra-text 4       2430 non-null   object
 1   chakra-text 5       2430 non-null   object
 2   chakra-text 6       2430 non-null   object
 3   chakra-text 7       2430 non-null   object
 4   chakra-text 8       2430 non-null   object
 5   chakra-text 9       2430 non-null   object
 6   chakra-text 10      2430 non-null   int64
 7   chakra-text 12      2430 non-null   object
 8   chakra-text 14      2430 non-null   object
 9   chakra-text 16      2430 non-null   object
 10  chakra-image src 3  762 non-null    object
 11  chakra-button href  2430 non-null   object
dtypes: int64(1), object(11)
memory usage: 227.9+ KB

In [90]:
df = df[df['chakra-text 16'] !='على السوم']

In [91]:
df['chakra-text 16'] = pd.to_numeric(df['chakra-text 16'].str.replace(',', '', regex=True), errors='coerce').astype('Int64')

In [92]:
df['chakra-text 16'].describe()

count            726.0
mean      56820.384298
std      281261.931871
min                0.0
25%             9000.0
50%            18500.0
75%            35000.0
max          5250000.0
Name: chakra-text 16, dtype: Float64

In [93]:
df[df['chakra-text 16'] == 0 ]

,chakra-text 4,chakra-text 5,chakra-text 6,chakra-text 7,chakra-text 8,chakra-text 9,chakra-text 10,chakra-text 12,chakra-text 14,chakra-text 16,chakra-image src 3,chakra-button href
580,ب,ع,و,B,E,U,3111,مكة,2025-02-25,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/7549
691,أ,د,ب,A,D,B,7212,المدينة,2025-02-21,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22044
823,ح,ل,أ,J,L,A,8777,أخرى,2025-02-17,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/25783
923,ح,ب,ك,J,B,K,1999,أبها,2025-02-11,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/25615
1008,و,م,ل,U,Z,L,67,الجبيل,2025-02-06,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/25465
1207,ع,ك,س,E,K,S,500,المدينة,2025-01-27,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/262
1262,ح,ب,ن,J,B,N,6611,مكة,2025-01-22,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24946
1608,ق,د,هـ,G,D,H,941,جدة,2024-12-30,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24287
1859,أ,و,ط,A,U,T,1716,الرياض,2024-12-14,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/23806
1896,ر,ب,د,R,B,D,5765,بريدة,2024-12-10,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/23255
1911,ر,ع,ب,R,E,B,5750,الدمام,2024-12-10,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/21774

In [94]:
df=df[df['chakra-text 16'] != 0 ]

In [95]:
df['chakra-text 16'].unique()

<IntegerArray>
[   6500,   23000,   24500,   15000,   32000,   14000,    3300,    4000,
    1500,   17500,
 ...
  220000,   93000,  500000,    9500,    4900, 5250000,  105000, 4000000,
    2800,    4100]
Length: 122, dtype: Int64

In [96]:
df.tail()

,chakra-text 4,chakra-text 5,chakra-text 6,chakra-text 7,chakra-text 8,chakra-text 9,chakra-text 10,chakra-text 12,chakra-text 14,chakra-text 16,chakra-image src 3,chakra-button href
2410,أ,ل,م,A,L,Z,8288,الرياض,2024-11-01,5000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22710
2420,م,ك,ق,Z,K,G,802,بريدة,2024-10-31,15000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22687
2422,ق,ق,ق,G,G,G,16,الرياض,2024-10-30,300000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22680
2423,ر,ع,ب,R,E,B,2328,أخرى,2024-10-30,20000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22678
2427,هـ,ع,ل,H,E,L,20,جدة,2024-10-30,18500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22672

In [97]:
df.columns = ['char1_ar', 'char2_ar', 'char3_ar', 'char1_en', 'char2_en', 'char3_en','Plate number','City','Publication date','price','Href','image']  # تأكد من تطابق عدد الأسماء مع عدد الأعمدة

In [98]:
df

,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,Plate number,City,Publication date,price,Href,image
0,ر,هـ,م,R,H,Z,9777,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26472
1,ر,هـ,م,R,H,Z,9888,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26471
2,ر,هـ,م,R,H,Z,9666,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26459
4,د,ص,م,D,X,Z,77,مكة,2025-03-13,23000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24633
11,ق,ح,ط,G,J,T,980,الخبر,2025-03-13,24500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/19989
...,...,...,...,...,...,...,...,...,...,...,...,...
2410,أ,ل,م,A,L,Z,8288,الرياض,2024-11-01,5000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22710
2420,م,ك,ق,Z,K,G,802,بريدة,2024-10-31,15000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22687
2422,ق,ق,ق,G,G,G,16,الرياض,2024-10-30,300000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22680
2423,ر,ع,ب,R,E,B,2328,أخرى,2024-10-30,20000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22678
2427,هـ,ع,ل,H,E,L,20,جدة,2024-10-30,18500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22672

In [99]:
df = df.drop(columns=['Href','image','City','Publication date'] )

In [100]:
df.head(2)

  char1_ar char2_ar char3_ar char1_en char2_en char3_en  Plate number  price
0        ر       هـ        م        R        H        Z          9777   6500
1        ر       هـ        م        R        H        Z          9888   6500

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 715 entries, 0 to 2427
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   char1_ar      715 non-null    object
 1   char2_ar      715 non-null    object
 2   char3_ar      715 non-null    object
 3   char1_en      715 non-null    object
 4   char2_en      715 non-null    object
 5   char3_en      715 non-null    object
 6   Plate number  715 non-null    int64
 7   price         715 non-null    Int64
dtypes: Int64(1), int64(1), object(6)
memory usage: 51.0+ KB

In [102]:
df[df.duplicated()]

,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,Plate number,price
371,ب,س,م,B,S,Z,911,100000
444,ل,ن,ط,L,N,T,61,12000
836,ح,م,ب,J,Z,B,44,19000
893,هـ,ب,هـ,H,B,H,953,15000
1321,أ,ك,و,A,K,U,5552,5000
1415,ل,ق,د,L,G,D,6,90000
1655,ق,ص,ر,G,X,R,702,25000
1887,ب,ك,ك,B,K,K,8881,20000
2082,ب,ب,ب,B,B,B,8111,33000
2162,ى,م,أ,V,Z,A,218,7000
2190,ى,م,أ,V,Z,A,218,7000

In [103]:
df.columns

Index(['char1_ar', 'char2_ar', 'char3_ar', 'char1_en', 'char2_en', 'char3_en',
       'Plate number', 'price'],
      dtype='object')

In [104]:
df[df.duplicated(['char1_ar', 'char2_ar', 'char3_ar', 'char1_en', 'char2_en', 'char3_en', 'Plate number'],keep=False)]

,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,Plate number,price
122,ل,ن,ط,L,N,T,61,12000
155,هـ,ب,هـ,H,B,H,953,15000
270,أ,ص,ن,A,X,N,9449,4000
367,ب,س,م,B,S,Z,911,100000
371,ب,س,م,B,S,Z,911,100000
444,ل,ن,ط,L,N,T,61,12000
809,ح,م,ب,J,Z,B,44,19000
824,ح,أ,د,J,A,D,1441,3000
836,ح,م,ب,J,Z,B,44,19000
893,هـ,ب,هـ,H,B,H,953,15000
942,هـ,ب,هـ,H,B,H,953,14999
978,ل,ق,د,L,G,D,6,65000
1166,ل,ق,د,L,G,D,6,90000
1320,أ,ك,و,A,K,U,5552,5000
1321,أ,ك,و,A,K,U,5552,5000
1415,ل,ق,د,L,G,D,6,90000
1420,أ,ص,ن,A,X,N,9449,5000
1430,ح,أ,د,J,A,D,1441,5000
1534,ل,ى,د,L,V,D,79,15000
1654,ق,ص,ر,G,X,R,702,25000
1655,ق,ص,ر,G,X,R,702,25000
1886,ب,ك,ك,B,K,K,8881,20000
1887,ب,ك,ك,B,K,K,8881,20000
1907,ى,م,أ,V,Z,A,218,7000
2037,ب,ب,ب,B,B,B,8111,33000
2082,ب,ب,ب,B,B,B,8111,33000
2162,ى,م,أ,V,Z,A,218,7000
2190,ى,م,أ,V,Z,A,218,7000
2404,ل,ى,د,L,V,D,79,20000

In [105]:
df = df.loc[df.groupby(['char1_ar', 'char2_ar', 'char3_ar', 'char1_en', 'char2_en', 'char3_en', 
                         'Plate number'])['price'].idxmax()]

In [106]:
df = df.drop_duplicates(keep=False)

In [107]:
df.duplicated().sum()

0

In [108]:
df.shape

(699, 8)

In [109]:
df['char_ar'] = df['char1_ar']+ ' ' + df['char2_ar'] + ' ' + df['char3_ar']

In [110]:
df['plate_no'] = df['Plate number']

In [111]:
df['char_en'] = df['char1_en']+ ' ' +df['char2_en']+ ' ' +df['char3_en']

In [112]:
df.head()

,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,Plate number,price,char_ar,plate_no,char_en
1796,أ,أ,أ,A,A,A,0,2000000,أ أ أ,0,A A A
802,أ,أ,أ,A,A,A,2116,7000,أ أ أ,2116,A A A
1101,أ,أ,أ,A,A,A,3309,13000,أ أ أ,3309,A A A
1333,أ,أ,أ,A,A,A,5561,9000,أ أ أ,5561,A A A
1998,أ,أ,أ,A,A,A,6932,5000,أ أ أ,6932,A A A

In [113]:
#df = df[['char_ar','plate_no','char_en','price']]

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 1796 to 394
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   char1_ar      699 non-null    object
 1   char2_ar      699 non-null    object
 2   char3_ar      699 non-null    object
 3   char1_en      699 non-null    object
 4   char2_en      699 non-null    object
 5   char3_en      699 non-null    object
 6   Plate number  699 non-null    int64
 7   price         699 non-null    Int64
 8   char_ar       699 non-null    object
 9   plate_no      699 non-null    int64
 10  char_en       699 non-null    object
dtypes: Int64(1), int64(2), object(8)
memory usage: 66.2+ KB

In [115]:
df.shape

(699, 11)

In [116]:
df.duplicated().sum()

0

In [117]:
df = df[['char_ar','char_en','char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no','price']]

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 1796 to 394
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   char_ar   699 non-null    object
 1   char_en   699 non-null    object
 2   char1_ar  699 non-null    object
 3   char2_ar  699 non-null    object
 4   char3_ar  699 non-null    object
 5   char1_en  699 non-null    object
 6   char2_en  699 non-null    object
 7   char3_en  699 non-null    object
 8   plate_no  699 non-null    int64
 9   price     699 non-null    Int64
dtypes: Int64(1), int64(1), object(8)
memory usage: 60.8+ KB

In [119]:
df

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price
1796,أ أ أ,A A A,أ,أ,أ,A,A,A,0,2000000
802,أ أ أ,A A A,أ,أ,أ,A,A,A,2116,7000
1101,أ أ أ,A A A,أ,أ,أ,A,A,A,3309,13000
1333,أ أ أ,A A A,أ,أ,أ,A,A,A,5561,9000
1998,أ أ أ,A A A,أ,أ,أ,A,A,A,6932,5000
...,...,...,...,...,...,...,...,...,...,...
1486,ى ل ق,V L G,ى,ل,ق,V,L,G,499,20000
1907,ى م أ,V Z A,ى,م,أ,V,Z,A,218,7000
1769,ى ن د,V N D,ى,ن,د,V,N,D,2,90000
2382,ى ن ى,V N V,ى,ن,ى,V,N,V,30,30000
394,ى و ى,V U V,ى,و,ى,V,U,V,590,22000

In [120]:
df.to_csv('data/lu7ah_cleand.csv',index=False)

In [144]:
df1.head(2)

,numberofbids,plateNumber,plateNumberAr,plateNumber 2,plateNumberEn,simply-amount 2,simply-amount 3,simply-amount 4,highestBidAmount,sortAmount,sortIndex
0,0,١,د ب س,1,S B D,5,26,19,"500,000.00",500000,0
1,30,١۰,س ن ص,10,X N S,5,41,30,"17,000.00",17000,1

In [156]:
df2.head()

,ribbon,numberofbids,plateNumber,plateNumberAr,plateNumber 2,plateNumberEn,highestBidAmount,sortAmount,sortIndex
0,ذهبي,6,٢,د د و,2,U D D,"80,000.00",80000,0
1,ذهبي,3,٤,ن م ا,4,A Z N,"65,000.00",65000,3
2,برونزي,32,١۰,د هـ م,10,Z H D,"25,000.00",25000,5
3,برونزي,33,٤٦,ع ل م,46,Z L E,"26,000.00",26000,10
4,فضي,3,۸۸,ق م ح,88,J Z G,"26,000.00",26000,12

In [145]:
df1 = df1[['plateNumberAr','plateNumber 2','plateNumberEn','sortAmount']]

In [157]:
df2 = df2[['plateNumberAr','plateNumber 2','plateNumberEn','sortAmount','ribbon']]

In [146]:
df1[['char1_ar', 'char2_ar', 'char3_ar']] = df1['plateNumberAr'].str.split(' ', n=2, expand=True)

In [147]:
df1[['char3_en', 'char2_en', 'char1_en']] = df1['plateNumberEn'].str.split(' ', n=2, expand=True)

In [148]:
df1['price'] = df1['sortAmount']

In [149]:
df1['plate_no'] = df1['plateNumber 2']

In [150]:
df1['char_ar'] =df1['plateNumberAr']

In [151]:
df1['char_en'] = df1['plateNumberEn']

In [152]:
df1 = df1[['char_ar','char_en','char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no','price']]

In [153]:
df1

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price
0,د ب س,S B D,د,ب,س,D,B,S,1,500000
1,س ن ص,X N S,س,ن,ص,S,N,X,10,17000
2,ق ح ل,L J G,ق,ح,ل,G,J,L,40,12500
3,ل ب ل,L B L,ل,ب,ل,L,B,L,91,12500
4,أ أ أ,A A A,أ,أ,أ,A,A,A,2116,8000
...,...,...,...,...,...,...,...,...,...,...
65,ب ي م,Z V B,ب,ي,م,B,V,Z,4321,23700
66,ر ع د,D E R,ر,ع,د,R,E,D,5955,12000
67,د ع و,U E D,د,ع,و,D,E,U,8959,1000
68,د ع د,D E D,د,ع,د,D,E,D,3553,4000
69,أ ح ب,B J A,أ,ح,ب,A,J,B,1225,4900

In [167]:
df1.to_csv('data/mazad_1_cleand.csv',index=False)

In [158]:
df2[['char1_ar', 'char2_ar', 'char3_ar']] = df2['plateNumberAr'].str.split(' ', n=2, expand=True)

In [159]:
df2[['char3_en', 'char2_en', 'char1_en']] = df2['plateNumberEn'].str.split(' ', n=2, expand=True)

In [160]:
df2['price'] = df2['sortAmount']

In [161]:
df2['plate_no'] = df2['plateNumber 2']

In [162]:
df2['char_ar'] =df2['plateNumberAr']

In [163]:
df2['char_en'] = df2['plateNumberEn']

In [164]:
df2 = df2[['char_ar','char_en','char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no','price','ribbon']]

In [165]:
df2

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,ribbon
0,د د و,U D D,د,د,و,D,D,U,2,80000,ذهبي
1,ن م ا,A Z N,ن,م,ا,N,Z,A,4,65000,ذهبي
2,د هـ م,Z H D,د,هـ,م,D,H,Z,10,25000,برونزي
3,ع ل م,Z L E,ع,ل,م,E,L,Z,46,26000,برونزي
4,ق م ح,J Z G,ق,م,ح,G,Z,J,88,26000,فضي
5,ر و ر,R U R,ر,و,ر,R,U,R,1000,14000,برونزي
6,ر هـ ى,V H R,ر,هـ,ى,R,H,V,1111,19000,فضي
7,ر و ب,B U R,ر,و,ب,R,U,B,2000,7000,برونزي
8,ر و ا,A U R,ر,و,ا,R,U,A,2222,15000,فضي
9,ر ن ص,X N R,ر,ن,ص,R,N,X,3000,5000,برونزي
10,ر ن ل,L N R,ر,ن,ل,R,N,L,3333,13000,فضي
11,د د د,D D D,د,د,د,D,D,D,3616,4000,برونزي
12,د د د,D D D,د,د,د,D,D,D,3621,3500,برونزي
13,د د د,D D D,د,د,د,D,D,D,3625,3500,برونزي
14,ر هـ ع,E H R,ر,هـ,ع,R,H,E,4000,6000,برونزي
15,ر و ص,X U R,ر,و,ص,R,U,X,4444,14000,فضي
16,ب ب ب,B B B,ب,ب,ب,B,B,B,4701,4000,برونزي
17,ب ب ب,B B B,ب,ب,ب,B,B,B,4726,3000,برونزي
18,ب ب ب,B B B,ب,ب,ب,B,B,B,4728,3500,برونزي
19,ر و د,D U R,ر,و,د,R,U,D,5000,9000,برونزي
20,ر ص ب,B X R,ر,ص,ب,R,X,B,5555,13000,فضي
21,ر ن ن,N N R,ر,ن,ن,R,N,N,6000,10000,برونزي
22,ح ح ح,J J J,ح,ح,ح,J,J,J,6504,3500,برونزي
23,ح ح ح,J J J,ح,ح,ح,J,J,J,6513,3500,برونزي
24,ح ح ح,J J J,ح,ح,ح,J,J,J,6520,3000,برونزي
25,ر ل ك,K L R,ر,ل,ك,R,L,K,6666,15000,فضي
26,ر هـ ا,A H R,ر,هـ,ا,R,H,A,7000,10000,برونزي
27,ا ا ا,A A A,ا,ا,ا,A,A,A,7544,9000,برونزي
28,ا ا ا,A A A,ا,ا,ا,A,A,A,7546,3500,برونزي
29,ا ا ا,A A A,ا,ا,ا,A,A,A,7550,9000,برونزي
30,ر هـ ص,X H R,ر,هـ,ص,R,H,X,7777,14000,فضي
31,ر هـ م,Z H R,ر,هـ,م,R,H,Z,8000,9500,برونزي
32,ر ك ق,G K R,ر,ك,ق,R,K,G,8888,14000,فضي
33,ر ب هـ,H B R,ر,ب,هـ,R,B,H,9000,7000,برونزي
34,ر م ك,K Z R,ر,م,ك,R,Z,K,9999,17000,فضي

In [168]:
df2.to_csv('data/mazad_2_cleand.csv',index=False)